body {
  margin: 0;
  color: #40514E;
  font-weight: bold;
}

p {
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin: 15px;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
}
hr {
  border-top: 7px dotted #EAF6F6;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  width: 5%;
}

.top-container {
  text-align: center;
  background-color: #E4F9F5;
  padding-top: 20px;
}

.middle-container {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.bottom-container {
  text-align: center;
  color: #11999E;
  background-color: #66BFBF;
  font-size: 1rem;
  padding-bottom: 1px;
  padding-top: 20px;
  margin-bottom: 0;
  line-height: 4;
}

.coffee-table {
  margin-right: auto;
  margin-left: auto;
}

.my-info {
  margin-top: 0;
  font-family: 'Satisfy', cursive;
  /* font-family: 'Lobster', cursive; */
  color: #66BFBF;
  font-size: 2rem;
}

.subtitle {
  font-weight: normal;
    font-family: 'Satisfy', cursive;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
}

.top-cloud {
  position: relative;
  left: 350px;
}

.pro {
  font-family: 'Pacifico', cursive;
}

.problem-solving {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.web {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.coffee {
  height: 100px;
}

.first-skill {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.second-skill {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.copyright {
  color: #EAF6F6;
  font-weight: bold;
  font-family: monospace;
  padding-bottom: 20px;
}

.btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
  background-color: #66BFBF;
  border-radius: 6px;
  border: 1px solid #66BFBF;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.btn:hover {
  background: linear-gradient(to bottom, #864000 5%, #864000 100%);
  background-color: #864000;
}

.btn:active {
  position: relative;
  top: 1px;
}

.profile {
  width: 50%;
  margin: auto auto 100px auto;
}

.Skills {
  margin-top: 100px;
}

.my-photo {
  margin-bottom: 0;
}

.coffee-offer {
  color: #864000;
}

.contact-me {
  margin-top: 100px;
  font-size: 1rem;
}

.intro {
  margin: auto;
  width: 35%;
}
