body {
  margin: 0;
}

.top-container {
  text-align: center;
  background-color: #E4F9F5;
  padding-top: 10px;
}

.middle-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.bottom-container {
  text-align: center;
  color: #11999E;
  background-color: #66BFBF;
  font-size: 1rem;
  padding-bottom: 1px;
  padding-top: 20px;
  margin-bottom: 0;
}

.coffee-table {
  margin-right: auto;
  margin-left: auto;
}

.my-info {
  margin-top: 0;
  font-family: 'Satisfy', cursive;
  /* font-family: 'Lobster', cursive; */
  color: #66BFBF;
  font-size: 2rem;
}

.subtitle {
  font-weight: normal;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin: 15px;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 270px;
}

.pro {
  font-family: 'Pacifico', cursive;
}

.problem-solving {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.web {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.coffee {
  height: 100px;
}
.first-skill{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.second-skill{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.copyright{
  color: #EAF6F6;
  font-weight: bold;
  font-family:monospace;
}
a{
    content:" ";
    display:inline-block;
    width:100px;
}
.btn{
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
hr{
  border-top: 7px dotted #EAF6F6;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  width: 5%;
}
