\
html,body{
  height: 100%;
}
body{
  margin: 0;
  background-color: hsl(233, 47%, 7%);
  font-family: 'Lexend Deca', sans-serif;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 0 .652rem .652rem 0;
}
span{
  color: hsl(277, 64%, 61%);
}
.card-component{
  width: 60%;
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  background-color: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: .625rem;
}
.left-component{
  width: 50%;
  display: inline-block;
   float:left;
}
.right-component{
  width: 50%;
  height: 100%;
  display: inline-block;
  float:right;
}
.text-content{
  width: 80%;
  margin: 3.1rem auto 0 auto;
}
.table{
  margin-top: 3.1rem;
  width: 100%;
  text-align: left;
}
.cell{
  display: inline-block;
  margin-right: 2.5rem;
}
h3{
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: bolder;
  margin-bottom: .3rem;
}
h6{
  font-size: .7rem;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
  margin-top: .3rem;
}
h1{
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-family: 'Inter', sans-serif;
}
p{
  font-size: .8rem;
  width: 80%;
}
