body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 10%;
}

.title-image {
  text-align: center;
  right: 19%;
}

.title-image-phone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }
  .download-button {
    width: 13rem;
    height :6rem;
      margin: 5% 0% 5% 0;
      font-size: 1.6rem;
  }
  .title-image {
    text-align: center;
    right: 0;
  }

  .title-image-phone {
    transform: rotate(0);
    width: 50%;
    position: static;
  }
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

@media (max-width:991px) {

  .navbar-brand {
    font-size: 3.5rem;
  }
  .nav-item {
    padding: 0 18px;
    font-size: 3rem;
    font-weight: lighter;
  }
  .navbar-toggler{
    width: 5rem;
  }
  .navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
  }
}

/* Features */
#features {
  padding: 5% 10%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature {
  text-align: center;
  line-height: 1.5;
  padding: 3%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 5%;
  margin-top: 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-description {
  color: #8f8f8f;
  padding: 0 8%;
  font-weight: 500;
}

/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
h2{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 2.5rem;
line-height: 1.5;
}
.carousel-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-inner{
  padding: 5% 15%;
}

/* Press Section */

#press{
  background-color: #ef8172;
  text-align: center;
}
.press-icon{
  width: 13%;
  margin: 0 2% 5%;
}

/* Pricing Section */

#pricing{
  color: #dc3545;
  text-align: center;
  line-height: 4;
  padding: 7%;
  font-family: 'Montserrat', sans-serif;

}
.pricing-description{
  font-size: 1.5rem;
}
h4{
  color: #fff;
}
.card-header{
  background-color: #dc3545;
}
small{
  color: #ef8172;
}

/* Call to Action Section  */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 3% 10%;
}
/* Footer Section */

#footer{
  padding: 1% 0 2%;
  text-align: center;

}
.contact{

}
.contact-button{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.contact-icon-item{
  font-size: 1.5rem;
  line-height: 2.5!important;
}
.contact-button:hover{
  width: 200px;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.contact-button:nth-child(1):hover .contact-icon-item{
 color: #1da1f2;
 transition: all 0.3s ease-in-out;
}
.contact-button:nth-child(2):hover .contact-icon-item{
color: #4267b2;
transition: all 0.3s ease-in-out;
}
.contact-button:nth-child(3):hover .contact-icon-item{
color: #e1306c;
transition: all 0.3s ease-in-out;
}
.contact-button:nth-child(4):hover .contact-icon-item{
color:  #ef8172;
transition: all 0.3s ease-in-out;
}
.contact-icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
}
.contact-item-title{
  font-weight: 500;
  margin-left: 10px;
}
